/* Add CSS Styling */
.p {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif ;
}

.p.better{
    font-size: 24px;
}

#div {
    color: blue;
    font-size: 36px;
}

#div1 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}